

/* Roboto
---------------------------------------------------------------------------------*/
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.eot');
	src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Roboto-Regular.woff2') format('woff2'),
		url('fonts/Roboto-Regular.woff') format('woff'),
		url('fonts/Roboto-Regular.ttf') format('truetype'),
		url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Medium.eot');
	src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Roboto-Medium.woff2') format('woff2'),
		url('fonts/Roboto-Medium.woff') format('woff'),
		url('fonts/Roboto-Medium.ttf') format('truetype'),
		url('fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Bold.eot');
	src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Roboto-Bold.woff2') format('woff2'),
		url('fonts/Roboto-Bold.woff') format('woff'),
		url('fonts/Roboto-Bold.ttf') format('truetype'),
		url('fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}




/* Myriad Pro
---------------------------------------------------------------------------------*/
@font-face {
	font-family: 'Myriad Pro';
	src: url('fonts/MyriadPro-Regular.eot');
	src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/MyriadPro-Regular.woff2') format('woff2'),
		url('fonts/MyriadPro-Regular.woff') format('woff'),
		url('fonts/MyriadPro-Regular.ttf') format('truetype'),
		url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}




/* ICONS
===============================================================================================================================*/
@font-face {
  font-family: 'Custom-icons';
  src:  url('fonts/icons/Custom-icons.eot?d9wbot');
  src:  url('fonts/icons/Custom-icons.eot?d9wbot#iefix') format('embedded-opentype'),
    url('fonts/icons/Custom-icons.ttf?d9wbot') format('truetype'),
    url('fonts/icons/Custom-icons.woff?d9wbot') format('woff'),
    url('fonts/icons/Custom-icons.svg?d9wbot#Custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-custom {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Custom-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bag:before {
  content: "\e900";
}
.icon-coupon:before {
  content: "\e901";
}
.icon-globe:before {
  content: "\e902";
}


