
@import '../scss/variables';
@import '../scss/mixins';
@import '../scss/heritage';


/* MIN WIDTH
===============================================================================================================================*/

/* Min Width = 480px
---------------------------------------------------------------------------------*/
@media (min-width: 480px) {
	.mod_reg_sign {

		.modal-dialog {
			width: 440px;
			margin: auto;
		}

		@at-root .mod_register,
		.mod_sign {
			margin: 30px 0;
		}
	}
	
/* Min Width = 480px END */
}


/* Min Width = 768px
---------------------------------------------------------------------------------*/
@media (min-width: 768px) {
	@at-root .product_lg {
		@include inlineBlock(100%);

		@at-root .product_lg_img {
			height: 265px;
		}

		@at-root .product_lg_descr {
			float: left;
			width: 50%;
			padding: 0;

			> p{
				height: initial;
				line-height: 30px;
				margin-top: 10px;
				@include continuousText;
				font-size: 16px;

				&::before {
					content: none;
				}
			}
		}

		@at-root .product_lg_money {
			display: block;
			width: initial;
			border: 0;

			@at-root .product_lg_discount {
				width: 25%;
				margin-top: 10px;
				padding: 0;
				padding-left: 5px;
				border-right: 0;
				border-left: 1px solid #e3e3e3;

				> p {

				}
			}

			@at-root .product_lg_price {
				@extend .product_lg_discount;

				> p {

				}
			}
		}
	}
	
/* Min Width = 768px END */
}


/* Min Width = 992px
---------------------------------------------------------------------------------*/
@media (min-width: 992px) {

/* Min Width = 992px END */
}


/* Min Width = 1200px
---------------------------------------------------------------------------------*/
@media (min-width: 1200px) {

/* Min Width = 1200px END */
}


/* Min Width = 1655px
---------------------------------------------------------------------------------*/
@media (min-width: 1655px) {

/* Min Width = 1655px END */
}



/* MAX WIDTH
===============================================================================================================================*/

/* Max Width = 1654px
---------------------------------------------------------------------------------*/
@media (max-width: 1654px) {

/* Max Width = 1654px END */
}


/* Max Width = 1199px
---------------------------------------------------------------------------------*/
@media (max-width: 1199px) {

/* Max Width = 1199px END */
}


/* Max Width = 991px
---------------------------------------------------------------------------------*/
@media (max-width: 991px) {
	.logo {
		margin-bottom: 20px;
		text-align: center;
	}

	.registration-box,
	.search_box {
		text-align: center;
	}


	.nav_menu_box {
		width: 300px;
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-box-shadow: 2px 0px 10px #333;
		box-shadow: 2px 0px 10px #333;
		@include translate(105%, 0);
		@include transition($time: 0.5s, $tFunc: cubic-bezier(0, 0.5, 0, 1));
		background: #444;
		z-index: 99;

		&.active {
			@include translate(0, 0);
		}

		@at-root .nav_menu {
			display: block;

			> li {
				float: none;
		        border-bottom: 2px solid $blockHoverColor;

				> a {
					text-align: center;
				}
			}

			@at-root .dropdown_menu {
				padding-top: 0;
				position: static;
				opacity: 1;
				visibility: visible;

				@at-root .dropdown_body {
					display: inline-block;
					vertical-align: middle;
					width: 100%;
					padding: 10px 10px 0 20px;

					&::before {
						left: 0;
						right: 0;
						margin: auto;
					}

					@at-root .dropdown_part {
						display: block;
						padding: 0;

						& + .dropdown_part {
							border-left: 0;
						}

						@at-root .dropdown_item {
							-webkit-animation: initial !important;
							-o-animation: initial !important;
							animation: initial !important;
						}
					}
				}
			}
		}
	}

	.nav_menu_btn {
		display: block;
	}

	.catalog_menu {

		> li {
			display: block;
			width: initial;

			& + li {
				border-left: 0;
				border-top: 1px solid $blockHoverColor;
			}
		}
	}

	.product_sm_info,
	.product_lg_info,
	.product_sm_info_time,
	.product_lg_info_time,
	.product_sm_info_btn,
	.product_lg_info_btn {
		@include translate(0, 0);
	}
	.product_sm_info_text,
	.product_lg_info_text,
	.product_sm_info_time,
	.product_lg_info_time,
	.product_sm_info_btn,
	.product_lg_info_btn {
		opacity: 1;
	}


	.footer_item {
		flex-basis: 50%;
	}
	.footer_item:nth-of-type(3) {
		padding-left: 0;
		border-left: 0;
	}


	.support_img_box,
	.support_text {
		display: block;
		width: initial;
	}
	.support_img_box {
		padding-right: 0;
		margin-bottom: 20px;
	}

	
/* Max Width = 991px END */
}


/* Max Width = 767px
---------------------------------------------------------------------------------*/
@media (max-width: 767px) {
	.reg_item {
		float: none;

		& + .reg_item {
			margin-top: 1px;
		}
	}

	.owl-buttons {
		display: none;
	}

	.catalog_item {
		max-width: 400px;
		margin: auto;
	}


	.footer_item_box {
		flex-direction: column;
		text-align: center;
	}
	.footer_item {
		padding-left: 0 !important;
		border-left: 0 !important;
	}
	.footer_copy,
	.footer_dev {
		width: initial;
		float: none;
		text-align: center;
	}

	.news_img_box {
		margin-bottom: 30px;
	}
	.news_read {
		text-align: center;
	}

	.comment_img_box {
		margin-bottom: 20px;
	}

	@at-root .service_desc_item_box {
		width: 100%;

		@at-root .service_desc_item {
			float: none;

			& + .service_desc_item {
				border-top: 1px solid $blockHoverColor;
				border-left: 0;
			}
		}
	}

	.modal_buy_pay_item {
		display: block;
		width: initial;
	}

	.service_like_body {
		max-width: 400px;
		margin: auto;
	}

	.logo_partner {
		margin-bottom: 20px;
		text-align: center;
	}

	.quick_contact_box {
		text-align: center;
	}

	.baner_partner_title {
		bottom: 30%;
	}
	.baner_partner_btn {
		top: 40%;
	}

	.support_baner {

		.owl-prev,
		.owl-next {
			display: none;
		}

		@at-root .support_item {
			padding: 0 15px;
		}
	}

	.pc_settings_img_box,
	.pc_settings_info {
		width: initial;
		float: none;
	}
	.pc_settings_img_box {
		text-align: center;
	}

/* Max Width = 767px END */
}


/* Max Width = 479px
---------------------------------------------------------------------------------*/
@media (max-width: 479px) {
	.nav_menu_box {
		width: calc(100% - 60px);
	}
	.nav_menu_btn.active {
		right: calc(100% - 50px);
	}

	.quick_contact_tel,
	.quick_contact_email {
		float: none;
		margin-left: 0;
	}

/* Max Width = 479px END */
}



