
@import '../scss/variables';
@import '../scss/mixins';
@import '../scss/heritage';

html.over_hidden,
body.over_hidden {
	overflow: hidden;
}

body {
	font-family: "Roboto";
	font-weight: normal;
	background-color: #eee;
}


img {
	max-width: 100%;
}


a,
button,
select,
input,
textarea {
	outline: 0 !important;
}

a:focus {
	text-decoration: none;
}
a:hover,
a:focus {
	cursor: pointer;
	color: $textHoverColor;
}

li {
	text-align: inherit;
}





/* HEADER
===============================================================================================================================*/
.header {

}


/*__________ Logo box __________*/
.header_logo_box {
	background-color: #f7f7f7;
	
	@at-root .logo {
		padding-top: 10px;

		> a {
			display: inline-block;
			vertical-align: middle;

			> img {

			}
		}
	}

	@at-root .registration-box {
		text-align: right;

		@at-root .registration {
			@extend %inlineBlock;
			text-align: center;

			@at-root .reg_item {
				display: block;
				line-height: 70px;
				float: left;
				padding: 0 20px;
				position: relative;
				text-decoration: none !important;
				font-weight: 500;
				@include transition();
				background: #eee;
				color: inherit !important;
				z-index: 2;

				&:hover,
				&.active {
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
					z-index: 3;
				}

				& + .reg_item {
					margin-left: 1px;
				}

				&.register {

				}
				&.sign_in {

				}
				&.basket {

					> .basket_text {
						color: #e70505;
					}

					> .basket_number {

					}

					> .basket_icon {
						display: inline-block;
						vertical-align: middle;
						margin-left: 10px;
						margin-bottom: 7px;
						font-size: 23px;
						color: #df1f26;
					}
				}
			}
		}
	}

	@at-root .mod_reg_sign {

		.modal-dialog {
			margin: 0 10px;
		}

		.modal-content {
			border: 0;
			border-radius: 0;
			perspective: 1000px;
		}

		.modal-header {

		}

		.modal-body {

		}

		.modal-footer {

		}

		/*__________ Modal Register __________*/
		@at-root .mod_register {
			width: 100%;
			margin: 10px 0;
			position: absolute;
			top: 0;
			transform-origin: left;
			left: 0;
			@include animation(pageClose, $time: 0.5s, $tFunc: linear, $fillMode: forwards);
			@include animationKeyFrames(pageClose) {
				0% {
					opacity: 1;
					visibility: visible;
					@include rotate3DTranslate3D(0, 1, 0, 0deg, 0px, 0px, 0px);
				}
				25% {
					opacity: 0.75;
					@include rotate3DTranslate3D(0, 1, 0, 10deg, -100px, 0px, 0px);
				}
				50% {
					opacity: 0.5;
					@include rotate3DTranslate3D(0, 1, 0, 20deg, -200px, 0px, 0px);
				}
				75% {
					opacity: 0.25;
					@include rotate3DTranslate3D(0, 1, 0, 30deg, -300px, 0px, 0px);
				}
				100% {
					opacity: 0;
					visibility: hidden;
					@include rotate3DTranslate3D(0, 1, 0, 40deg, -400px, 0px, 0px);
				}
			}
			background: #fff;

			&.active {
				transform-origin: right;
				@include animation(pageOpen, $time: 0.5s, $tFunc: linear, $delay: .2s, $fillMode: backwards);
				@include animationKeyFrames(pageOpen) {
					0% {
						opacity: 0;
						visibility: hidden;
						@include rotate3DTranslate3D(0, 1, 0, -40deg, 400px, 0px, 0px);
					}
					25% {
						opacity: 0.25;
						@include rotate3DTranslate3D(0, 1, 0, -30deg, 300px, 0px, 0px);
					}
					50% {
						opacity: 0.5;
						@include rotate3DTranslate3D(0, 1, 0, -20deg, 200px, 0px, 0px);
					}
					75% {
						opacity: 0.75;
						@include rotate3DTranslate3D(0, 1, 0, -10deg, 100px, 0px, 0px);
					}
					100% {
						opacity: 1;
						visibility: visible;
						@include rotate3DTranslate3D(0, 1, 0, 0deg, 0px, 0px, 0px);
					}
				}
			}

			@at-root .mod_reg_logo {
				margin-bottom: 20px;
				position: relative;
				text-align: center;

				> img {

				}

				@at-root .mod_reg_close {
					display: block;
					width: 35px;
					height: 35px;
					padding: 0;
					border: 0;
					position: absolute;
					top: -5px;
					right: -5px;
					cursor: pointer;
					background: transparent;

					&::before {
						content: '';
						display: block;
						width: 23px;
						height: 3px;
						border-radius: 100px;
						@include absolute();
						@include rotate(45deg);
						background: #8d8d8d;
					}

					&::after {
						@extend .mod_reg_close::before;
						@include rotate(-45deg);
					}

					&:hover::before {
						background: #d52229;
					}
				}
			}

			@at-root .mod_reg_h {
				margin-bottom: 5px;
				text-align: center;
				font-size: 20px;
				color: #555;
			}

			@at-root .mod_reg_via {
				margin-bottom: 30px;
				text-align: center;
				color: #9a9a9a;
			}

			@at-root .mod_reg_social_box {
				text-align: center;

				@at-root .mod_reg_social {
					@extend %inlineBlock;
					@extend %removeListStyle;
					text-align: left;

					> li {
						float: left;

						& + li {
							margin-left: 30px;
						}

						> a {
							display: block;
							border-radius: 50%;
							overflow: hidden;
							text-decoration: none;
							@include transition();
							color: #fff;
							background: #000;

							> i {
								display: block;
								width: 50px;
								line-height: 50px;
								text-align: center;
								font-size: 25px;
							}
						}

						> a.fb {
							border: 1px solid #3b5998;
							background: #3b5998;

							&:hover {
								background: #fff;
								color: #3b5998;
							}
						}

						> a.vk {
							border: 1px solid #4d76a1;
							background: #4d76a1;

							&:hover {
								background: #fff;
								color: #4d76a1;
							}
						}

						> a.ok {
							border: 1px solid #f58220;
							background: #f58220;

							&:hover {
								background: #fff;
								color: #f58220;
							}
						}
					}
				}
			}

			@at-root .mod_reg_or {
				@extend .mod_reg_via;
				margin-bottom: 20px;
			}

			@at-root .mod_reg_form {
				@extend %floatContainer;
				margin-bottom: 15px;

				@at-root .mod_reg_txt_in {
					display: block;
					width: 100%;
					max-width: 300px;
					padding: 10px;
					margin: auto;
					margin-bottom: 15px;
					border: 1px solid #e1e1e1;

					&:focus {
						border-color: $blockHoverColor;
					}
				}

				@at-root .mod_reg_error {
					max-width: 300px;
					margin: auto;
					margin-bottom: 15px;
					color: #d52229;

					&.email {

					}
				}
			}

			@at-root .mod_reg_submit {
				margin-bottom: 20px;
				text-align: center;

				> button {
					@extend %inlineBlock;
					min-width: 150px;
					padding: 7px 20px;
					border: 1px solid $blockHoverColor;
					border-radius: 100px;
					text-decoration: none;
					@include transition();
					background: $blockHoverColor;
					color: #000;

					&:hover {
						background: #fff;
					}
				}
			}

			@at-root .mod_reg_had_accout {
				text-align: center;
				font-size: 12px;
				color: #9a9a9a;

				> span {

				}

				> a {
					text-decoration: underline;
					color: $textHoverColor;
				}
			}

			@at-root .mod_reg_reminder {
				max-width: 300px;
				margin: auto;
				margin-bottom: 0;
				text-align: center;
				font-size: 12px;
				color: #9a9a9a;
			}
		}


		/*__________ Modal Sign-in __________*/
		@at-root .mod_sign {
			@extend .mod_register;

			@at-root .mod_sign_logo {
				@extend .mod_reg_logo;

				> img {

				}

				@at-root .mod_sign_close {
					@extend .mod_reg_close;


					&::before {

					}

					&::after {

					}

					&:hover::before {

					}
				}
			}

			@at-root .mod_sign_h {
				@extend .mod_reg_h;
			}

			@at-root .mod_sign_via {
				@extend .mod_reg_via;
			}

			@at-root .mod_sign_social_box {
				@extend .mod_reg_social_box;

				@at-root .mod_sign_social {
					@extend .mod_reg_social;

					> li {

						& + li {

						}

						> a {

							> i {

							}
						}

						> a.fb {

							&:hover {

							}
						}

						> a.vk {

							&:hover {

							}
						}

						> a.ok {

							&:hover {

							}
						}
					}
				}
			}

			@at-root .mod_sign_or {
				@extend .mod_reg_or;
			}

			@at-root .mod_sign_form {
				@extend .mod_reg_form;

				@at-root .mod_sign_txt_in {
					@extend .mod_reg_txt_in;

					&:focus {

					}
				}

				@at-root .mod_sign_error {
					@extend .mod_reg_error;

					&.name {

					}

					&.password {

					}
				}
			}

			@at-root .mod_sign_submit {
				@extend .mod_reg_submit;

				> a {

					&:hover {

					}
				}
			}

			@at-root .mod_sign_forgot {
				margin-bottom: 15px;
				text-align: center;

				> a {
					@extend %inlineBlock;
					text-decoration: underline;
					font-size: 12px;
					color: #9a9a9a;
				}
			}

			@at-root .mod_sign_no_accout {
				@extend .mod_reg_had_accout;

				> span {

				}

				> a {

				}
			}
		}
	}
}


/*__________ Navigation __________*/
.navigation {
	background: #444;
	
	@at-root .nav_menu_box {

		@at-root .nav_menu {
			@extend %inlineBlock;
			@extend %removeListStyle;

			> li {
				float: left;

				&:hover > a{
					@extend %bgChangeOnHover;
				}

				&.active > a {
					@extend %bgChangeOnHover;
				}

				> a {
					display: block;
					padding: 15px 20px;
					@extend %noUserSelect;
					text-transform: uppercase;
					text-decoration: none;
					font-family: $fontMyriadPro;
					font-size: 13px;
					@include transition();
					color: #fff;

					&:hover {
						@extend %bgChangeOnHover;
					}
				}
			}

			@at-root li.nav_dropdown {
				position: relative;

				&:hover > .dropdown_menu {
					top: 100%;
					opacity: 1;
					visibility: visible;
				}

				@at-root .dropdown_menu {
					padding-top: 15px;
					position: absolute;
					top: calc(100% + 30px);
					left: 0;
					opacity: 0;
					visibility: hidden;
					@include transition($time: 0.3s, $tFunc: cubic-bezier(0, 0.5, 0.25, 1), $delay: .3s);
					z-index: 99;

					@at-root .dropdown_body {
						box-shadow: 0 0 35px rgba(0, 0, 0, 0.33);
						position: relative;
						background: #f7f7f7;

						&::before {
							content: '';
							display: block;
							width: 0;
							height: 0;
							border-bottom: 10px solid #f7f7f7;
							border-left: 7px solid transparent;
							border-right: 7px solid transparent;
							position: absolute;
							bottom: 100%;
							left: 25px;
						}

						@at-root .dropdown_part {
							display: table-cell;
							padding: 15px 10px;
							min-width: 180px;

							& + .dropdown_part {
								border-left: 1px solid #ddd;
							}

							@at-root .dropdown_item {
								margin-bottom: 15px;
								font-size: 13px;

								li.nav_dropdown:hover & {
									@include childLoopAnimation();
									@include animationKeyFrames(fromBottom) {
										from {
											opacity: 0;
											@include translate(0, 50px);
										}
										to {
											opacity: 1;
											@include translate(0, 0);
										}
									}
								}

								@at-root .dropdown_item_h {
									display: block;
									margin-bottom: 10px;
									font-weight: bold;
									color: inherit;

									&.active {
										@extend %textChangeOnHover;
									}

									&:hover {
										@extend %textChangeOnHover;
									}
								}

								@at-root .dropdown_item_menu {
									@extend %removeListStyle;

									> li {

										&.active > a {
											@extend %textChangeOnHover;
										}

										> a {
											display: block;
											text-decoration: none;
											color: inherit;

											&:hover {
												@extend %textChangeOnHover;
											}

											&::before {
												content: '•';
												@extend %inlineBlock;
												margin-right: 5px;
												color: inherit;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/*__________ Navigation Mobile button __________*/
.nav_menu_btn {
	display: none;
	height: 36px;
	padding: 0 10px;
	border: 1px solid #555;
	position: fixed;
	top: 15px;
	right: 15px;
	overflow: hidden;
	cursor: pointer;
	-webkit-box-shadow: 0 0 7px #999;
	box-shadow: 0 0 7px #999;
	@include transition($time: 0.5s, $tFunc: cubic-bezier(0, 0.5, 0, 1));
	background: $blockHoverColor;
	z-index: 99;

	&.active {
		right: 315px;

		> .btn_line {

			&:nth-of-type(1) {
				top: 2px;
				@include rotate(45deg);
			}

			&:nth-of-type(2) {
				opacity: 0;
				visibility: hidden;
			}

			&:nth-of-type(3) {
				bottom: 2px;
				@include rotate(-45deg);
			}
		}
	}

	> .btn_line {
		display: block;
		width: 27px;
		height: 2px;
		position: relative;
		@include transition($delay: .5s);
		background: #fff;

		&:nth-of-type(1) {
			top: -5px;
		}

		&:nth-of-type(2) {
			left: 0;
		}

		&:nth-of-type(3) {
			bottom: -5px;
		}
	}
}

/*__________ Navigation Mobile background __________*/
.nav_menu_bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	@include transition();
	background: rgba(0, 0, 0, 0.4);
	z-index: 90;

	&.active {
		opacity: 1;
		visibility: visible;
		@include transition($delay: .5s);
	}
}



/*__________ Search __________*/
.search_box {
	line-height: 48px;
	text-align: right;
	
	@at-root .search_form {
		@extend %inlineBlock;
		width: 100%;
		max-width: 360px;
		line-height: 1;
		text-align: left;

		@at-root .search_txt_in {
			display: block;
			width: calc(100% - 35px);
			height: 35px;
			float: left;
			padding-left: 20px;
			padding-right: 10px;
			border: 1px solid transparent;
			font-family: $fontMyriadPro;
			font-size: 15px;
			background: #eee;

			&:focus {
				border-color: $blockHoverColor;
			}
		}

		@at-root .search_btn {
			display: block;
			float: left;
			width: 35px;
			height: 35px;
			padding: 0;
			border: 0;
			text-align: center;
			background: $blockHoverColor;

			&:active {
				box-shadow: inset 1px 1px 3px #777;
			}

			@at-root .search_btn_icon {
				color: #fff;
			}
		}
	}
}




/* BANER
===============================================================================================================================*/
.baner_box {

	@at-root .baner {
		overflow: hidden;

		@at-root .baner_item {

			img {
				width: 100%;
			}
		}

		@at-root .owl-buttons {			

			@at-root .owl-prev {
				@extend %owlButtons;
				left: 15px;
				@include translate(-100px, 0);

				&::before {
					margin-left: 3px;
					@include rotate(-45deg);
				}
			}

			@at-root .owl-next {
				@extend %owlButtons;
				right: 15px;
				@include translate(100px, 0);

				&::before {
					margin-right: 3px;
					@include rotate(135deg);
				}
			}
		}
	}
}





/* MAIN
===============================================================================================================================*/
.main {
	padding-bottom: 40px;
}


.catalog {
	margin-top: 50px;
	overflow: hidden;

	&.catalog_service {

	}

	@at-root .catalog_header {
		margin-bottom: 20px;

		@at-root .catalog_menu {
			@extend %inlineBlock;
			width: 100%;
			@extend %removeListStyle;
			border: 1px solid $blockHoverColor;
			@extend %noUserSelect;

			> li {
				display: table-cell;
				width: 1%;

				& + li {
					border-left: 1px solid $blockHoverColor;
				}

				> a {
					display: block;
					padding: 9px 0;
					@extend %continuousText;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;
					@extend %basicButtonStyle;
					color: #555;

					&:hover {
						@extend %basicButtonStyleHover;
						color: #000;
					}
				}

				&.active {

					> a {
						@extend %basicButtonStyleHover;
						font-weight: bold;
						color: #000;
					}
				}
			}
		}
	}

	@at-root .catalog_body {

		@at-root .catalog_item {
			display: none;
			@extend %floatContainer;

			&.active {
				display: block;
				@include animation($name: smallToBig, $time: 1.2s, $tFunc: cubic-bezier(0, 0.5, 0.25, 1), $fillMode: backwards);
				@include animationKeyFrames(smallToBig) {
					0% {
						opacity: 0.5;
						-webkit-transform: scale(0.7) translateY(700px);
						-ms-transform: scale(0.7) translateY(700px);
						-o-transform: scale(0.7) translateY(700px);
						transform: scale(0.7) translateY(700px);
					}
					50% {
						opacity: 0.5;
						-webkit-transform: scale(0.7) translateY(0px);
						-ms-transform: scale(0.7) translateY(0px);
						-o-transform: scale(0.7) translateY(0px);
						transform: scale(0.7) translateY(0px);
					}
					100% {
						opacity: 1;
						@include scale(1, 1);
					}
				}
			}


			/*__________ Product Small __________*/
			@at-root .product_sm {
				margin-bottom: 30px;
				padding: 6px;
				background: #fff;

				@at-root .product_sm_img {
					height: 200px;
					position: relative;
					overflow: hidden;

					> img {
						min-width: 100%;
						min-height: 100%;
						max-width: 140%;
						max-height: 140%;
						@include absolute($top: -100%, $bottom: -100%, $left: -100%, $right: -100%);
					}

					@at-root .product_sm_ribbon {
						width: 100%;
						height: 120px;
						position: absolute;
						top: -60px;
						left: -50%;
						@include rotate(-45deg);
						background: #d52229;
						z-index: 2;

						> p {
							margin-bottom: 0;
							@include absolute($top: initial);
							text-align: center;
							font-size: 10px;
							font-weight: 500;
							color: #fff;
						}
					}

					@at-root .product_sm_info {
						max-height: 100%;
						@include absolute($top: initial);
						@include translate(0, 100%);
						@include transition($delay: .3s);
						background: rgba(51, 51, 51, 0.75);
						z-index: 4;

						.product_sm:hover & {
							@include translate(0, 0);
							-webkit-transition-delay: 0s;
							-o-transition-delay: 0s;
							transition-delay: 0s;
						}

						@at-root .product_sm_info_header {
							@extend %smInfoBoxes;
							border-bottom: 1px solid rgba(216, 216, 216, 0.3);

							@at-root .product_sm_info_time {
								@extend %smInfoCenter;
								max-height: 36px;
								margin-bottom: 0;
								padding: 3px 0;
								overflow: hidden;
								opacity: 0;
								@include translate(105%, 0);
								@include transition($tFunc: cubic-bezier(0, 0, 0.5, 1.4));
								font-size: 13px;
								color: #fff;

								.product_sm:hover & {
									opacity: 1;
									@include translate(0, 0);
									-webkit-transition-delay: .3s;
									-o-transition-delay: .3s;
									transition-delay: .3s;
								}

								> i {
									margin-right: 5px;
									margin-left: 2px;
								}

								> span {
									font-weight: 500;
								}
							}
						}

						@at-root .product_sm_info_body {
							@extend %smInfoBoxes;

							@at-root .product_sm_info_text {
								@extend %smInfoCenter;
								max-height: 84px;
								margin: 5px 0;
								position: relative;
								overflow: hidden;
								opacity: 0;
								font-size: 10px;
								font-weight: 500;
								@include transition($time: 0.5s);
								color: #fff;

								.product_sm:hover & {
									opacity: 1;
									-webkit-transition-delay: .3s;
									-o-transition-delay: .3s;
									transition-delay: .3s;
								}
							}

							@at-root .product_sm_info_btn {
								margin-bottom: 3px;
								text-align: center;
								opacity: 0;
								@include translate(-105%, 0);
								@include transition($tFunc: cubic-bezier(0, 0, 0.5, 1.4));

								.product_sm:hover & {
									opacity: 1;
									@include translate(0, 0);
									-webkit-transition-delay: .3s;
									-o-transition-delay: .3s;
									transition-delay: .3s;
								}

								> a {
									@extend %smInfoCenter;
									padding: 4px;
									border: 1px solid $blockHoverColor;
									border-radius: 4px;
									text-align: center;
									text-decoration: none;
									font-weight: bold;
									@include transition();
									background: $blockHoverColor;
									color: inherit;

									&:hover {
										background: transparent;
										color: #fff;
									}
								}
							}
						}
					}
				}

				@at-root .product_sm_descr {
					padding: 5px;

					> p {
						height: 54px;
						margin-bottom: 0;
						position: relative;
						overflow: hidden;
						font-size: 13px;
						font-weight: 500;
						color: #555;

						&::before {
							content: '';
							display: block;
							height: 18px;
							@include absolute($top: initial);
							background: linear-gradient(to right, transparent, #fff);
						}
					}
				}

				@at-root .product_sm_money {
					@extend %inlineBlock;
					width: 100%;
					border-top: 1px solid #e3e3e3;

					@at-root .product_sm_discount {
						@extend %smMoney;
						padding-left: 0;
						border-right: 1px solid #e3e3e3;

						> p {
							
						}
					}

					@at-root .product_sm_price {
						@extend %smMoney;
						padding-right: 0;

						> p {
							font-size: 13px;
							background: $blockHoverColor;
							color: #000;
						}
					}
				}
			}



			/*__________ Product Large __________*/
			@at-root .product_lg {
				@extend .product_sm;

				@at-root .product_lg_img {
					@extend .product_sm_img;

					> img {

					}

					@at-root .product_lg_ribbon {
						@extend .product_sm_ribbon;
						height: 180px;
						top: -90px;
						background-color: transparent;

						> p {
							line-height: 25px;
							font-size: 13px;
							background: #d52229;
						}
					}

					@at-root .product_lg_info {
						@extend .product_sm_info;

						@at-root .product_lg_info_header {
							@extend .product_sm_info_header;

							@at-root .product_lg_info_time {
								@extend .product_sm_info_time;

								> i {

								}

								> span {

								}
							}
						}

						@at-root .product_lg_info_body {
							@extend .product_sm_info_body;

							@at-root .product_lg_info_text {
								@extend .product_sm_info_text;

							}

							@at-root .product_lg_info_btn {
								@extend .product_sm_info_btn;

								> a {

								}
							}
						}
					}
				}

				@at-root .product_lg_descr {
					@extend .product_sm_descr;

					> p{

						&::before {

						}
					}
				}

				@at-root .product_lg_money {
					@extend .product_sm_money;

					@at-root .product_lg_discount {
						@extend .product_sm_discount;

						> p {

						}
					}

					@at-root .product_lg_price {
						@extend .product_sm_price;

						> p {

						}
					}
				}
			}
		}
	}
}





/* FOOTER
===============================================================================================================================*/
.footer {

	@at-root .footer_hr {

		@at-root .footer_hr_bg {
			height: 35px;
			background: url('../images/footer_divider.jpg') 50% / cover no-repeat;
			background-attachment: fixed;
		}

		> img {
			width: 100%;
		}
	}

	@at-root .footer_nav {
		padding-top: 40px;
		background: url("../images/footer_bg.png") 50% / cover no-repeat;
		background-attachment: fixed;

		@at-root .footer_item_box {
			@extend %flex;
			justify-content: space-between;
			flex-wrap: wrap;

			@at-root .footer_item {
				flex: 1 1 25%;
				margin-bottom: 40px;

				& + .footer_item {
					padding-left: 10px;
					border-left: 1px solid rgba(51, 51, 51, 0.1);
				}

				@at-root .footer_item_h {
					margin-top: 0;
					margin-bottom: 15px;
					text-transform: uppercase;
					font-weight: bold;
				}

				@at-root .footer_menu {
					@extend %inlineBlock;
					@extend %removeListStyle;

					> li {
						display: block;

						> a {
							display: block;
							padding: 5px 0;
							text-decoration: none;
							@extend %footerText;

							&::before {
								content: '•';
								margin-right: 5px;
								color: inherit;
							}

							&:hover {
								color: $textHoverColor;
							}
						}
					}
				}

				@at-root .footer_address {
					margin-bottom: 20px;
					@extend %footerText;
				}

				@at-root .footer_tel {
					margin-bottom: 5px;
					@extend %footerText;

					> span {

					}

					> a {
						text-decoration: none;
						color: inherit;

						&:hover {
							color: $textHoverColor;
						}
					}
				}

				@at-root .footer_email {
					margin-bottom: 20px;
					@extend .footer_tel;

					> span {

					}

					> a {

					}
				}

				@at-root .footer_social {
					@extend %inlineBlock;
					@extend %removeListStyle;

					> li {
						float: left;

						& + li {
							margin-left: 7px;
						}

						> a {
							display: block;
							text-decoration: none;
							@include transition();
							background: $blockHoverColor;
							color: #fff;

							> i {
								display: block;
								width: 25px;
								line-height: 25px;
								text-align: center;
								font-size: 17px;
							}

							&:hover {
								background: #d52229;
							}
						}
					}
				}
			}
		}
	}

	@at-root .footer_info {
		padding-top: 20px;
		background: #2a2a2a;

		@at-root .footer_copy {
			width: 50%;
			float: left;
			margin-bottom: 20px;
			font-size: 12px;
			font-weight: bold;
			color: #777;
		}

		@at-root .footer_dev {
			@extend .footer_copy;
			text-align: right;

			> span {

			}

			> a {
				text-decoration: underline;
				color: inherit;

				&:hover {
					color: $textHoverColor;
				}
			}
		}
	}
}





/* BREADCRUMB
===============================================================================================================================*/
.breadcrumb {
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 0;
	background-color: transparent;

	> ul {
		@extend %removeListStyle;

		> li {
			@extend %inlineBlock;
			font-size: 12px;

			& + li {
				position: relative;
				padding-left: 10px;

				&::before {
					content: '\00BB';
					display: block;
					@include absolute($top: 0, $bottom: 0, $left: 0, $right: initial);
					color: #9a9a9a;
				}
			}

			> a {
				color: #9a9a9a;
			}
		}

		> li.active {

			> span {
				color: inherit;
			}
		}
	}
}




/* VACANCY
===============================================================================================================================*/
.vacancy_article {
	@extend %floatContainer;

	@at-root .vacancy_h_lg {
		margin-top: 0;
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid #e1e1e1;
		font-size: 35px;
		font-weight: 500;
		color: #555;
	}

	@at-root .vacancy_text {
		margin-bottom: 40px;

		@at-root .vacancy_h_sm {
			margin-top: 0;
			margin-bottom: 15px;
			font-weight: bold;
			color: #555;

			&.red {
				color: #d52229;
			}
		}

		@at-root .vacancy_p {

		}

		@at-root .vacancy_list {
			@extend %removeListStyle;
			margin-bottom: 10px;

			> li {
				margin-bottom: 5px;

				&::before {
					content: '•';
					margin-right: 5px;
				}
			}
		}
	}

	@at-root .vacancy_appl {

		> p {
			margin-bottom: 0;
			text-align: center;

			> span {
				@extend %inlineBlock;
				margin-right: 5px;
				margin-bottom: 10px;
				font-size: 15px;
				font-weight: 500;
			}

			> a {
				@extend %inlineBlock;
				margin-bottom: 10px;
				padding: 4px 16px;
				border: 1px solid #d52229;
				border-radius: 3px;
				text-transform: uppercase;
				text-decoration: none;
				font-family: $fontMyriadPro;
				font-size: 12px;
				@include transition();
				background: #d52229;
				color: #fff;

				&:hover {
					background-color: transparent;
					color: inherit;
				}
			}
		}
	}
}





/* COUPON BACK
===============================================================================================================================*/
.cpn_back_article {
	@extend .vacancy_article;

	@at-root .cpn_back_h_lg {
		@extend .vacancy_h_lg;
	}

	@at-root .cpn_back_text {

		@at-root .cpn_back_h_sm {
			@extend .vacancy_h_sm;
		}

		@at-root .cpn_back_list {
			margin-bottom: 0;
			padding-left: 0;
			list-style-position: inside;

			> li {
				margin-bottom: 30px;

				> a {
					color: #d52229;
				}
			}
		}
	}
}





/* QUESTION
===============================================================================================================================*/
.quest_article {
	@extend .vacancy_article;

	@at-root .quest_h_lg {
		@extend .vacancy_h_lg;
	}

	@at-root .quest_item {
		margin-bottom: 20px;

		@at-root .quest_btn {

			> p {
				@extend %inlineBlock;
				margin-bottom: 0;
				cursor: pointer;
				@extend %noUserSelect;
				text-decoration: underline;
				font-size: 18px;
				font-weight: bold;
				color: #555;

				&.active,
				&:hover {
					text-decoration: none;
					color: #d52229;
				}
			}
		}

		@at-root .quest_text_box {
			@extend %floatContainer;
			max-height: 0;
			overflow: hidden;
			@include transition($time: 0.7s, $tFunc: ease-out);

			&.active {
				max-height: 700px;
				@include transition($time: 0.7s, $tFunc: ease-in);
			}

			@at-root .quest_text {
				padding-top: 15px;

				@at-root .quest_h_sm {
					font-weight: 500;
				}

				@at-root .quest_p {
					font-size: 13px;
					margin-bottom: 15px;
				}
			}
		}
	}
}





/* OFFER
===============================================================================================================================*/
.offer_article {

	@at-root .offer_title {
		margin-top: 0;
		margin-bottom: 20px;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
	}

	@at-root .offer_caption {
		margin-bottom: 15px;
		text-align: center;
		font-weight: 500;
		font-style: italic;
	}

	@at-root .offer_p {
		font-size: 13px;

		> a {
			color: #d52229;
		}
	}

	@at-root .offer_text {
		@extend %floatContainer;
		margin-bottom: 10px;

		@at-root .offer_h {
			text-align: center;
			font-weight: bold;

			&::before {
				content: '\00A7';
			}
		}
	}
}





/* AGREEMENT
===============================================================================================================================*/
.agreement_article {

	@at-root .agreement_title {
		@extend .offer_title;
	}

	@at-root .agreement_caption {
		margin-bottom: 15px;
		text-align: center;
		font-style: italic;
	}

	@at-root .agreement_text {
		@extend .offer_text;

		@at-root .agreement_h {
			@extend .offer_h;

			&::before {

			}
		}

		@at-root .agreement_p {
			@extend .offer_p;

			> a {

			}
		}

		@at-root .agreement_list {
			@extend .vacancy_list;

			> li {

			}
		}
	}
}







/* PERSONAL DATA
===============================================================================================================================*/
.pData_article {

	@at-root .pData_title {
		@extend .offer_title;
	}

	@at-root .pData_caption {
		margin-bottom: 30px;
		text-align: center;
		font-style: italic;

		> p {

		}
	}

	@at-root .pData_text {
		@extend .offer_text;

		@at-root .pData_h {
			text-align: center;
			font-weight: bold;
		}

		@at-root .pData_p {
			@extend .offer_p;

			> a {

			}
		}

		@at-root .pData_list {
			@extend .vacancy_list;

			> li {

			}
		}

		@at-root .pData_warn {
			font-size: 35px;
			font-weight: 500;
			color: #d52229;
		}
	}
}






/* BUY COUPON
===============================================================================================================================*/
.buy_cpn {
	@extend .vacancy_article;

	@at-root .buy_cpn_title {
		@extend .vacancy_h_lg;
	}

	@at-root .buy_cpn_text {
		@extend %floatContainer;
		margin-bottom: 15px;
		padding-bottom: 10px;
		border-bottom: 1px solid #e1e1e1;

		@at-root .buy_cpn_h {
			@extend .vacancy_h_sm;
			margin-bottom: 30px;
		}

		@at-root .buy_cpn_item {
			margin-bottom: 30px;

			@at-root .buy_cpn_img {
				margin-bottom: 20px;

				> img {
					width: 100%;
				}			
			}

			@at-root .buy_cpn_p {
				margin-bottom: 0;
			}
		}
	}

	@at-root .buy_cpn_thanks {
		padding-top: 20px;

		> p {
			margin-bottom: 0;
			text-align: center;
			font-size: 35px;
			font-weight: 500;
			color: #555;
		}
	}
}






/* HOW WORKS
===============================================================================================================================*/
.how_works {

	@at-root .how_works_item {
		@extend %floatContainer;
		margin-bottom: 30px;

		@at-root .how_works_title {
			@extend .vacancy_h_lg;
		}

		@at-root .how_works_p {
			margin-bottom: 40px;
		}

		@at-root .how_works_quest_p {

			> a {
				color: #d52229;
			}
		}

		@at-root .how_works_img {
			margin-bottom: 0;
			text-align: center;

			> img {

			}
		}


		@at-root .how_works_icon_box {

			@at-root .how_works_icon_item {
				margin-bottom: 40px;

				@at-root .how_works_icon {
					@extend %inlineBlock;
					width: 25%;

					@at-root .how_works_icon_img {
						margin-bottom: 0;
						padding-right: 20px;
						text-align: right;

						> img {

						}
					}
				}

				@at-root .how_works_icon_text {
					@extend %inlineBlock;
					width: calc(75% - 4px);

					@at-root .how_works_icon_p {
						margin-bottom: 0;
					}
				}
			}
		}

		@at-root .how_works_pay {

			@at-root .how_works_pay_item {
				padding: 20px 0;

				@at-root .how_works_pay_img {
					margin-bottom: 0;
					text-align: center;

					> img {

					}
				}
			}
		}
	}
}






/* PAGINATION
===============================================================================================================================*/
.pagination {
	@extend %floatContainer;
	display: block;
	margin: 30px 0;
	text-align: center;

	> ul {
		@extend %inlineBlock;
		@extend %removeListStyle;

		> li {
			float: left;
			margin-right: 7px;
			margin-bottom: 7px;

			> a {
				display: block;
				width: 32px;
				line-height: 30px;
				border: 1px solid $blockHoverColor;
				text-decoration: none;
				text-align: center;
				font-size: 15px;
				@include transition();
				color: inherit;
			}

			&.active > a,
			& > a:hover{
				background: $blockHoverColor;
			}
		}
	}
}




/* NEWS
===============================================================================================================================*/
.news {

	@at-root .news_title {
		@extend .vacancy_h_lg;
	}


	@at-root .news_article {
		padding-bottom: 40px;
		margin-bottom: 20px;
		border-bottom: 1px solid #e1e1e1;

		@at-root .news_img_box {

			@at-root .news_img {
				margin-bottom: 0;
				text-align: center;

				> img {
					width: 100%;
					max-width: 350px;
				}
			}
		}

		@at-root .news_text {

			@at-root .news_date {
				margin-bottom: 5px;
				font-size: 13px;
				color: #9a9a9a;
			}

			@at-root .news_h {
				@extend .vacancy_h_sm;
				margin-bottom: 20px;
			}

			@at-root .news_p {
				text-align: justify;
			}

			@at-root .news_read {
				text-align: right;

				> a {
					@extend %inlineBlock;
					padding: 4px 25px;
					border: 1px solid #d52229;
					border-radius: 3px;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 13px;
					@include transition();
					background: #d52229;
					color: #fff;

					&:hover {
						background-color: transparent;
						color: inherit;
					}
				}
			}
		}
	}
}





/* COMMENT
===============================================================================================================================*/
.comment {

	@at-root .comment_title {
		@extend .vacancy_h_lg;
	}

	@at-root .comment_article {
		@extend .news_article;

		@at-root .comment_img_box {
			text-align: center;

			@at-root .comment_img{
				@extend %inlineBlock;
				width: 90px;
				height: 90px;
				margin-bottom: 0;
				border-radius: 50%;
				position: relative;
				overflow: hidden;

				> img {
					min-width: 100%;
					min-height: 100%;
					max-width: 115%;
					max-height: 115%;
					@include absolute($top: -100%, $bottom: -100%, $left: -100%, $right: -100%);
				}
			}
		}

		@at-root .comment_text {

			@at-root .comment_date {
				@extend .news_date;
			}

			@at-root .comment_h {
				@extend .news_h;
			}

			@at-root .comment_p {
				@extend .news_p;
			}
		}
	}
}





/* LEAVE COMMENT
===============================================================================================================================*/
.leave_comment_box {
	margin: 50px 0;

	@at-root .leave_comment {
		max-width: 500px;
		padding: 30px 15px;
		margin: auto;
		@include transition();
		background: #fff;

		&.active {
			box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
		}

		@at-root .leave_comment_h {
			margin-top: 0;
			margin-bottom: 20px;
			text-align: center;
			font-weight: 500;
			color: #555;
		}

		@at-root .leave_comment_form {

			@at-root .leave_comment_text {
				margin-bottom: 20px;

				> textarea {
					display: block;
					width: 100%;
					max-width: 300px;
					margin: auto;
					padding: 5px 0;
					border: 0;
					border-bottom: 1px solid #333;
					resize: none;
					overflow: hidden;
				}
			}

			@at-root .leave_comment_btn {
				text-align: center;

				> button {
					@extend %inlineBlock;
					padding: 4px 25px;
					border: 1px solid #d52229;
					border-radius: 3px;
					text-transform: uppercase;
					font-size: 13px;
					@include transition();
					background: #d52229;
					color: #fff;

					&:hover {
						background-color: transparent;
						color: inherit;
					}
				}
			}
		}
	}

	@at-root .leave_comment_cannot {

		> p {
			margin-bottom: 0;
			text-align: center;
		    font-size: 25px;
			font-weight: 500;
			color: #555;
		}
	}
}






/* SERVICE
===============================================================================================================================*/
.service {

	@at-root .service_title {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 35px;
		font-weight: 500;
		color: #555;
	}

	/*__________ Service Content __________*/
	@at-root .service_content {
		margin-bottom: 30px;

		@at-root .service_baner_box {
			margin-bottom: 15px;
			border: 5px solid #fff;
			position: relative;
			overflow: hidden;

			@at-root .service_baner_ribbon {
				@extend .product_sm_ribbon;

				> p {

				}
			}

			@at-root .service_baner {

				.owl-prev,
				.owl-next {
					width: 40px;
					height: 40px;
					line-height: 40px;
				}

				&:hover .owl-prev,
				&:hover .owl-next {
					opacity: 1;
					@include translate(0, 0);
				}

				@at-root .service_baner_item {

					@at-root .service_baner_img {

					}
				}
			}
		}

		@at-root .service_desc {

			@at-root .service_desc_header {

				@at-root .service_desc_item_box {
					@extend %inlineBlock;
					border: 1px solid $blockHoverColor;
					border-bottom: 0;

					@at-root .service_desc_item {
						display: block;
						float: left;
						margin-bottom: 0;
						padding: 6px 20px;
						cursor: pointer;
						@extend %noUserSelect;
						text-transform: uppercase;
						font-weight: 500;
						@extend %basicButtonStyle;
						color: #555;

						& + .service_desc_item {
							border-left: 1px solid $blockHoverColor;
						}

						&.condition {
							
						}

						&.description {
							
						}

						&.comment {
							
							> span {

							}
						}

						&.active,
						&:hover {
							@extend %basicButtonStyleHover;
							color: #000;
						}
					}
				}
			}

			@at-root .service_desc_body {
				border: 1px solid $blockHoverColor;
				overflow: hidden;

				@at-root .service_desc_text {
					display: none;
					padding: 15px;
					font-size: 13px;

					&.condition {
						
					}

					&.description {
						
					}

					&.comment {

						.comment_article {
							overflow: hidden;
						}

						.comment_img_box {
							overflow: hidden;
						}

						.comment_img {
							width: 70px;
							height: 70px;
						}				
					}

					&.active {
						display: block;
						@include animation(fadeOut, $time: 1s);
						@include animationKeyFrames(fadeOut) {
							from {
								opacity: 0;
								@include translate(0, 70px);
							}
							to {
								opacity: 1;
								@include translate(0, 0);
							}
						}
					}

					@at-root .service_desc_ul_disc {
						@extend .vacancy_list;
						margin-bottom: 15px;

						> li {

							&::before {

							}

							> a {
								color: #1679d5;
							}
						}
					}

					@at-root .service_desc_ul_hyphen {
						@extend %removeListStyle;
						margin-bottom: 15px;

						> li {
							margin-bottom: 5px;

							&::before {
								content: '—';
								margin-right: 5px;
							}

							> a {
								color: #1679d5;
							}
						}
					}

					@at-root .service_desc_p {
						font-weight: 500;

						> a {
							color: #1679d5;
						}
					}

				}
			}
		}
	}


	/*__________ Service Aside __________*/
	@at-root .service_aside {

		@at-root .service_buy_box {
			margin-bottom: 20px;

			@at-root .service_buy {
				margin-bottom: 10px;
				padding: 20px 15px;
				background: $blockHoverColor;

				@at-root .service_buy_price {
					@extend %inlineBlock;
					width: calc(100% - 104px);

					> p {
						margin-bottom: 0;
						font-size: 20px;
						font-weight: 500;
						color: #000;
					}
				}

				@at-root .service_buy_btn {
					@extend %inlineBlock;
					width: 100px;

					> a {
						display: block;
						padding: 4px;
						border: 1px solid #d52229;
						border-radius: 3px;
						text-align: center;
						text-transform: uppercase;
						text-decoration: none;
						font-family: $fontMyriadPro;
						font-size: 13px;
						@include transition();
						background: #d52229;
						color: #fff;

						&:hover {
							background-color: transparent;
							color: inherit;
						}
					}
				}
			}

			@at-root .service_buy_info {

				@at-root .service_buy_info_item {
					display: table-cell;
					width: 1%;
					padding: 5px;
					text-align: center;
					background: #e1e1e1;

					& + .service_buy_info_item {
						border-left: 3px solid #eee;
					}

					@at-root .service_buy_info_name {
						font-size: 13px;
						font-weight: 500;
						color: #555;
					}

					@at-root .service_buy_info_detail {
						margin-bottom: 0;
						font-size: 15px;
						font-weight: 500;
						color: #000;
					}
				}
			}
		}

		/*__________ Modal buy __________*/
		@at-root .modal_buy {

			.modal-dialog {

			}

			.modal-content {
				border: 0;
				border-radius: 0;
			}

			.modal-header {
				position: relative;

				@at-root .modal_buy_close {
					@extend .mod_reg_close;
					top: 5px;
					right: 5px;

					&::before,
					&::after {
						width: 19px;
						height: 2px;
					}
				}

				@at-root .modal_buy_title {
					margin: 0;
					padding-right: 17px;
					text-align: center;
					font-size: 25px;
					font-weight: 500;
					color: #555;
				}
			}

			.modal-body {

				@at-root .modal_buy_serv {
					margin-bottom: 30px;

					@at-root .modal_buy_serv_h {
						margin-top: 0;
						margin-bottom: 15px;
						font-size: 15px;
						font-weight: 500;
						color: #555;
					}

					@at-root .modal_buy_serv_ul {
						@extend .vacancy_list;

						> li {
							font-size: 12px;
						}
					}
				}

				@at-root .modal_buy_price_box {
					margin-bottom: 40px;
					text-align: center;
					font-size: 15px;
					font-weight: 500;
					color: #000;

					@at-root .modal_buy_price {
						color: #d52229;
					}
				}

				@at-root .modal_buy_pay {

					@at-root .modal_buy_pay_p {
						margin-bottom: 20px;
						text-align: center;
						font-size: 13px;
						font-weight: 500;
						color: #555;

					}

					@at-root .modal_buy_pay_item_box {

						@at-root .modal_buy_pay_item {
							display: table-cell;
							width: 1%;
							margin-bottom: 20px;

							@at-root .modal_buy_pay_img {
								display: block;
								width: 80%;
								max-width: 200px;
								margin: auto;
								padding: 10px 15px;
								border-radius: 4px;
								text-align: center;
								@include transition();

								> img {

								}

								&:hover {
									background: #dcdcdc;
								}
							}
						}
					}
				}
			}
		}


		@at-root .service_add_basket {
			margin-bottom: 20px;
			text-align: center;

			> a {
				@extend %inlineBlock;
				width: 100%;
				max-width: 250px;
				padding: 5px;
				border: 1px solid $blockHoverColor;
				border-radius: 100px;
				text-decoration: none;
				font-size: 16px;
				font-weight: 500;
				@include transition();
				background: $blockHoverColor;
				color: inherit;

				> span {
					margin-right: 5px;
				}

				> i {

				}

				&:hover {
					background-color: transparent;
				}
			}
		}

		@at-root .service_social {
			margin-bottom: 10px;
			padding-top: 10px;
			text-align: center;
			border-top: 1px solid #e1e1e1;

			@at-root .service_social_p {
				margin-bottom: 5px;
				@extend .service_buy_info_name;

			}

			@at-root .service_social_list {
				@extend .footer_social;

				> li {

					> a {
						-webkit-transition: initial;
						-o-transition: initial;
						transition: initial;

						> i {

						}

						&.fb {
							background: #3a559f;
						}

						&.vk {
							background: #44678d;
						}

						&.ok {
							background: #f58220;
						}

						&.ins {
							background: linear-gradient(to top, #ffbc00, #ff3c3c, #7001c1);
						}

						&:hover {
							background: #d52229;
						}
					}
				}
			}
		}

		@at-root .service_deadline {
			margin-bottom: 40px;
			padding: 10px 15px;
			text-align: center;
			background: $blockHoverColor;

			@at-root .service_deadline_p {
				@extend .service_buy_info_name;
			}

			@at-root .service_deadline_time {
				margin-bottom: 0;
				font-size: 17px;
				font-weight: 500;
				color: #000;

				> i {
					margin-right: 5px;
				}

				> span {

				}
			}
		}

		@at-root .service_info {
			@extend %floatContainer;
			margin-bottom: 15px;

			@at-root .service_info_title {
				margin-bottom: 20px;
				font-size: 16px;
				font-weight: 500;
				color: #000;
			}

			@at-root .service_info_item {
				@extend %floatContainer;
				margin-bottom: 20px;

				@at-root .service_info_icon_box {
					width: 40px;
					float: left;

					@at-root .service_info_icon {

						> i {
							display: block;
							font-size: 20px;
							color: #777;
						}
					}
				}

				@at-root .service_info_text {
					width: calc(100% - 50px);
					float: left;

					@at-root .service_info_p {
						margin-bottom: 5px;
						font-size: 13px;
						font-weight: 500;
						color: #777;

						span {
							color: #000;
						}

						a {
							text-decoration: underline;
							color: #000;

							&:hover {
								color: $textHoverColor;
							}
						}
					}

					@at-root .service_info_img {
						margin-bottom: 5px;

						> img {
							width: 100%;
						}
					}
				}
			}
		}
	}


	/*__________ Service Like __________*/
	@at-root .service_like {

		@at-root .service_like_header {
			margin-bottom: 20px;

			@at-root .service_like_title {
				margin-bottom: 0;
				padding: 15px 20px;
				text-transform: uppercase;
				font-size: 15px;
				font-weight: bold;
				background: $blockHoverColor;
				color: #000;
			}
		}

		@at-root .service_like_body {

		}
	}
}






/* PARTNERS
===============================================================================================================================*/

/*__________ Navigation __________*/
.logo_partner {

	> a {
		@extend %inlineBlock;
		position: relative;
		top: 10px;
		z-index: 9;

		> img {
			filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.6));
		}
	}
}

.quick_contact_box {
	text-align: right;

	@at-root .quick_contact {
		@extend %inlineBlock;
		padding-top: 15px;
		text-align: left;

		@at-root .quick_contact_tel {
			float: left;
			margin-bottom: 15px;

			> a {
				@extend %inlineBlock;
				text-decoration: none;
				font-family: $fontMyriadPro;
				font-size: 15px;
				color: #fff;

				&:hover {
					color: $textHoverColor;
				}
			}
		}

		@at-root .quick_contact_email {
			@extend .quick_contact_tel;
			margin-left: 30px;

			> a {
				text-transform: uppercase;
			}
		}
	}
}



/*__________ Baner __________*/
.baner_partner {
	height: 600px;
	position: relative;
	
	@at-root .baner_partner_bg {
		background-image: url('../images/partner_bg_1.jpg');
		@extend %backgroundFixed;
	}

	@at-root .baner_partner_title {
		height: 83px;
		@include absolute($bottom: 10%);
		text-align: center;
		z-index: 3;
		
		> h2 {
			@extend %inlineBlock;
			margin: 0;
			padding: 25px 15px;
			font-size: 30px;
			font-weight: 500;
			background: rgba(0, 0, 0, 0.2);
			color: #fff;
		}
	}

	@at-root .baner_partner_btn {
		height: 44px;
		@include absolute($top: 30%);
		text-align: center;
		z-index: 3;

		> a {
			@extend %inlineBlock;
			padding: 10px;
			border: 1px solid $blockHoverColor;
			text-decoration: none;
			font-size: 17px;
			font-weight: 500;
			@include transition();
			background: $blockHoverColor;
			color: #555;

			&:hover {
				background: rgba(255, 255, 255, 0.3);
			}
		}
	}
}





/*__________ Who __________*/
.who_partner {

	@at-root .who_text {
		padding: 40px 0;

		@at-root .who_text_title {
			margin-bottom: 30px;
			@extend %partner_title;

			.highlight {

			}
		}

		@at-root .who_text_p {
			text-align: center;
			font-weight: 500;
			@extend %partner_text;

			.highlight {
				
			}
		}
	}

	@at-root .who_icon_box {
		@extend %partner_fixed_bg;

		@at-root .who_icon_bg {
			background-image: url('../images/partner_bg_2.jpg');
			@extend %backgroundFixed;
		}

		@at-root .who_icon {
			@extend %flex;
			justify-content: space-around;
			flex-wrap: wrap;
			position: relative;
			z-index: 5;

			@at-root .who_icon_item {
				width: 200px;
				margin-bottom: 20px;

				@at-root .who_icon_img_box {
					margin-bottom: 15px;

					@at-root .who_icon_img {
						width: 100px;
						height: 100px;
						margin: auto;
						border: 2px solid #fff;
						border-radius: 50%;
						position: relative;

						> img {
							max-height: 100%;
							padding: 20px;
							@include absolute();
						}
					}
				}

				@at-root .who_icon_p {
					
					> p {
						width: 140px;
						margin: auto;
						text-align: center;
						font-size: 13px;
						font-weight: 500;
						color: #fff;
					}
				}
			}
		}
	}
}





/*__________ Work __________*/
.work_partner {
	padding: 40px 0;

	@at-root .work_title {
		@extend %partner_title;

		.highlight {

		}
	}

	@at-root .work_text {

		@at-root .work_text_item {
			margin-bottom: 30px;

			@at-root .work_text_h {
				margin-top: 0;
				margin-bottom: 15px;
				font-size: 17px;
				font-weight: bold;
				color: $textHoverColor;
			}

			@at-root .work_text_p {
				@extend %partner_text;
			}
		}
	}
}






/*__________ Promotion __________*/
.promotion_partner {
	@extend %partner_fixed_bg;

	@at-root .promotion_bg {
		background-image: url('../images/partner_bg_3.jpg');
		@extend %backgroundFixed;
	}

	@at-root .promotion_text {
		margin-bottom: 30px;
		position: relative;
		z-index: 5;

		@at-root .promotion_h {
			@extend %partner_title;
			margin-bottom: 30px;
			color: #fff;
		}

		@at-root .promotion_p{
			margin-bottom: 0;
			text-align: center;
			font-weight: 500;
			color: #fff;
		}
	}

	@at-root .promotion_icon_box {

		@at-root .promotion_icon {
			@extend .who_icon;

			@at-root .promotion_icon_item {
				@extend .who_icon_item;

				@at-root .promotion_icon_img_box {
					@extend .who_icon_img_box;

					@at-root .promotion_icon_img {
						@extend .who_icon_img;

						> img {

						}
					}
				}

				@at-root .promotion_icon_p {
					@extend .who_icon_p;

					> p {

					}
				}
			}
		}
	}
}






/*__________ Flourish __________*/
.flourish_partner {
	padding: 40px 0;

	@at-root .flourish_title {
		@extend %partner_title;

		.highlight {

		}
	}

	@at-root .flourish_icon_box {

		@at-root .flourish_icon {
			@extend .who_icon;

			@at-root .flourish_icon_item {
				@extend .who_icon_item;

				@at-root .flourish_icon_img_box {
					@extend .who_icon_img_box;

					@at-root .flourish_icon_img {
						@extend .who_icon_img;
						border: 0;
						background: $textHoverColor;

						> img {

						}
					}
				}

				@at-root .flourish_icon_p {
					@extend .who_icon_p;

					> p {
						color: inherit;
					}
				}
			}
		}
	}
}






/*__________ Support __________*/
.support_partner {
	@extend %partner_fixed_bg;

	@at-root .support_bg {
		background-image: url('../images/partner_bg_4.jpg');
		@extend %backgroundFixed;
	}

	@at-root .support_baner {
		z-index: 5;

		.owl-prev,
		.owl-next {
			opacity: 1;
			@include translate(0, 0);
			background-color: transparent;
		}

		.owl-prev::before,
		.owl-next::before {
			width: 17px;
			height: 17px;
			border-width: 2px;
			border-color: rgba(255, 255, 255, 0.7);
		}

		.owl-prev:hover::before,
		.owl-next:hover::before {
			border-color: $blockHoverColor;
		}

		.owl-prev {
			left: 0;
		}

		.owl-next {
			right: 0;
		}

		@at-root .support_item {
			padding: 0 60px;

			@at-root .support_img_box {
				@extend %inlineBlock;
				width: calc(40% - 4px);
				padding-right: 15px;

				@at-root .support_img {
					margin-bottom: 0;
					text-align: center;

					> img {

					}
				}
			}

			@at-root .support_text {
				@extend %inlineBlock;
				width: 60%;

				@at-root .support_p {
					text-align: justify;
					font-size: 18px;
					color: #fff;
				}

				@at-root .support_p_name {
					@extend .support_p;
					margin-bottom: 0;
					text-align: right;
					font-weight: 500;
				}
			}
		}
	}
}






/*__________ Our Partner __________*/
.our_partner {
	padding: 40px 0;

	@at-root .our_partner_title {
		@extend %partner_title;
	}

	@at-root .our_partner_box {
		@extend .who_icon;
		align-items: center;

		@at-root .our_partner_item {
			@extend .who_icon_item;

			@at-root .our_partner_img {
				text-align: center;

				> img {

				}
			}
		}
	}
}






/*__________ Contact __________*/
.contact_partner {
	margin-bottom: -40px;
	padding: 40px 0;
	background: #be7852 url('../images/partner_bg_5.png');

	@at-root .contact_title {
		@extend %partner_title;
		margin-bottom: 30px;
		color: #fff;
	}

	@at-root .contact_qiuck {
		max-width: 700px;
		margin: auto;

		@at-root .contact_qiuck_item {
			margin-bottom: 30px;
			text-align: center;

			> a {
				@extend %inlineBlock;
				font-size: 18px;
				font-weight: bold;
				color: #fff;
			}

			&.tel {

				> a {
					
				}
			}

			&.email {

				> a {
					text-transform: uppercase;
				}
			}
		}
	}

	@at-root .contact_form {
		max-width: 700px;
		margin: auto;

		.control-label {
			text-align: left;
			font-size: 16px;
			font-weight: normal;
			color: #fff;
		}

		.radio {
			color: #fff;
		}

		textarea {
			resize: vertical;
		}

		@at-root .contact_form_btn {
			margin-top: 30px;
			text-align: center;

			> button {
				@extend %inlineBlock;
				padding: 7px 20px;
				border: 1px solid $blockHoverColor;
				font-size: 17px;
				font-weight: 500;
				@include transition();
				background: $blockHoverColor;
				color: #555;

				&:hover {
					background: rgba(255, 255, 255, 0.3);
				}
			}
		}
	}
}






/* PERSONAL CABINET
===============================================================================================================================*/

/*__________ Nav Sign __________*/
.nav_sign {
	width: 160px;
	height: 70px;
	perspective: 1000px;
	cursor: pointer;
	@extend %noUserSelect;

	&::before {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-top: 7px solid #777;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		@include absolute($left: initial, $right: 30px);
		@include transition();
	}

	&::after {
		content: '';
		display: block;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		opacity: 0;
		@include absolute($top: 30px, $bottom: 0, $left: 0, $right: 30px);
		background: #d52229;
	}

	&.active::before {
		@include rotate(180deg);
	}

	&.warn::after {
		opacity: 1;
	}

	@at-root .nav_sign_img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		@include absolute();
		overflow: hidden;

		> img {
			min-width: 100%;
			min-height: 100%;
			max-width: 115%;
			max-height: 115%;
			@include absolute($top: -100%, $bottom: -100%, $left: -100%, $right: -100%);
		}
	}

	@at-root .nav_sign_list_box {
		min-width: 100%;
		@include absolute($top: 100%, $bottom: initial, $left: 0, $right: initial);
		box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
		opacity: 0;
		visibility: hidden;
		text-align: left;
		line-height: 1;
		transform-origin: top;
		@include rotate3D(1, 0, 0, 80deg);
		@include transition();
		background: #eee;
		z-index: 9;

		&.active {
			opacity: 1;
			visibility: visible;
			@include rotate3D(1, 0, 0, 0deg);
		}

		@at-root .nav_sign_body {
			border-top: 1px solid #e1e1e1;

			@at-root .nav_sign_list {
				@extend %removeListStyle;

				> li {

					> a {
						display: block;
						padding: 10px 15px;
						text-decoration: none;
						font-weight: 500;
						color: #777;

						> i {
							margin-right: 7px;

							&.fa-bell {
								position: relative;

								&::after {
									content: '';
									display: block;
									width: 5px;
									height: 5px;
									border-radius: 50%;
									opacity: 0;
									@include absolute($top: initial, $bottom: 0, $left: 0, $right: initial);
									background: #d52229;
								}

								&.active::after {
									opacity: 1;
								}
							}
						}

						> span {

						}

						&:hover {
							background: $blockHoverColor;
							color: inherit;
						}
					}

					&.active > a {
						background: $blockHoverColor;
						color: inherit;
					}
				}
			}
		}

		@at-root .nav_sign_footer {
			border-top: 1px solid #e1e1e1;
		}
	}
}






/*__________ Notification __________*/
.pc_main {
	padding-top: 40px;

	@at-root .pc_title {
		@extend .vacancy_h_lg;
	}


	/*__________ Notification content __________*/
	@at-root .pc_content {

		@at-root .pc_notif_article {
			margin-bottom: 30px;
			border-radius: 6px;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
			background: #fff;

			@at-root .pc_notif_header {
				padding: 10px 20px;

				@at-root .pc_notif_time {

					@at-root .pc_notif_date {
						@extend %inlineBlock;
						margin-bottom: 0;
						padding: 2px 5px;
						border: 1px solid #bfbfbf;
						line-height: 1;
						font-size: 12px;
						font-weight: 500;
						color: #777;
					}

					@at-root .pc_notif_clock{
						@extend .pc_notif_date;
						margin-left: 10px;
					}
				}
			}

			@at-root .pc_notif_body {
				padding: 10px 20px;

				@at-root .pc_notif_h {
					margin-top: 0;
					font-weight: bold;
					color: #555;

					.highlight {
						color: #d52229;
					}
				}

				@at-root .pc_notif_p {

				}
			}
		}
	}


	/*__________ Aside Sign __________*/
	@at-root .pc_aside {

		@at-root .aside_sign {
			max-width: 500px;
			margin: auto;
			background: #e1e1e1;

			@at-root .aside_sign_header {
				@extend %floatContainer;
				padding: 10px 15px;

				@at-root .aside_sign_title {
					@extend %inlineBlock;
					width: calc(100% - 54px);

					> h3 {
						margin: 0;
						font-size: 22px;
						font-weight: 500;
						color: #555;
					}
				}

				@at-root .aside_sign_img {
					@extend %inlineBlock;
					width: 50px;
					height: 50px;
					border-radius: 50%;
					position: relative;
					overflow: hidden;

					> img {
						min-width: 100%;
						min-height: 100%;
						max-width: 115%;
						min-height: 115%;
						@include absolute($top: -100%, $bottom: -100%, $left: -100%, $right: -100%)
					}
				}
			}

			@at-root .aside_sign_body {
				border-top: 1px solid #eee;
				border-bottom: 1px solid #eee;

				@at-root .aside_sign_list {

					> li {

						> a {
							font-size: 16px;

							> i {

							}

							> span {

							}
						}
					}
				}
			}

			@at-root .aside_sign_footer {

			}
		}
	}
}






/*__________ Comment __________*/
.pc_comment_article {
	display: block;
	padding: 10px;
	text-decoration: none !important;
	@include transition();
	color: inherit !important;

	&:hover {
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
	}

	@at-root .pc_comment_title {
		margin-top: 0;
		text-align: center;
		font-size: 22px;
		font-weight: 500;
		color: #555;
	}
}





/*__________ Coupon __________*/
.pc_coupon_article {
	margin-bottom: 40px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
	background: #fff;

	@at-root .pc_coupon_cut {
		border: 1px dashed #777;
		background: url("../images/scissors_border.png") 90% 100% / 30px no-repeat;
	}

	@at-root .pc_coupon_body {

		@at-root .pc_coupon_time {
			padding: 0 10px;
			border-bottom: 1px solid #e1e1e1;

			@at-root .pc_coupon_time_item {
				@extend %inlineBlock;
				margin-top: 10px;
				margin-bottom: 10px;

				&:not(:last-of-type) {
					margin-right: 10px;
					padding-right: 10px;
					border-right: 1px solid #e1e1e1;
				}

				&.buy {

				}

				&.from {

				}

				&.to {

				}

				@at-root .pc_coupon_time_name {
					margin-bottom: 5px;
					font-size: 13px;
					font-weight: 500;
					color: #777;
				}

				@at-root .pc_coupon_time_date {
					margin-bottom: 0;
					font-size: 13px;
					font-weight: 500;
					color: #000;
				}
			}
		}

		@at-root .pc_coupon_item {
			padding: 10px;

			@at-root .pc_coupon_img_box {
				margin-bottom: 15px;

				@at-root .pc_coupon_img {
					max-width: 350px;
					height: 150px;
					margin: auto;
					margin-bottom: 15px;
					position: relative;
					overflow: hidden;

					> img {
						min-width: 100%;
						min-height: 100%;
						max-width: 140%;
						max-height: 140%;
						@include absolute($top: -100%, $bottom: -100%, $left: -100%, $right: -100%);
					}

					@at-root .pc_coupon_ribbon {
						@extend .product_lg_ribbon;
						height: 100px;
						top: -50px;

						> p {
							line-height: 13px;
							font-size: 9px;
						}
					}
				}

				@at-root .pc_coupon_id {

					@at-root .pc_coupon_id_name {
						@extend %inlineBlock;
						width: 25px;
						margin-bottom: 0;
						font-size: 18px;
						font-weight: 500;
						color: #555;
					}

					@at-root .pc_coupon_id_number {
						@extend %inlineBlock;
						width: calc(100% - 29px);
						margin-bottom: 0;
						padding: 3px;
						border: 1px solid #c0c0c0;
						text-align: center;
						font-size: 15px;
						font-weight: 500;
						color: #d52229;
					}
				}
			}

			@at-root .pc_coupon_text {
				margin-bottom: 15px;

				@at-root .pc_coupon_h {
					margin-top: 0;
					font-size: 16px;
					font-weight: 500;
					color: #555;
				}

				@at-root .pc_coupon_discount {
					font-weight: 500;
				}

				@at-root .pc_coupon_p {
					font-size: 12px;
					color: #555;
				}

				@at-root .pc_coupon_ul {
					@extend .vacancy_list;
					
					> li {
						font-size: 13px;
						color: #555;
					}
				}
			}
		}

	}

	@at-root .pc_coupon_footer {
		border-top: 1px solid #e1e1e1;

		@at-root .pc_coupon_get {
			padding: 0 10px;

			@at-root .pc_coupon_get_item {
				@extend %inlineBlock;
				margin-top: 15px;
				margin-bottom: 15px;

				&:not(:last-of-type) {
					margin-right: 10px;
					padding-right: 10px;
					border-right: 1px solid #e1e1e1;
				}

				> a {
					display: block;
					font-weight: 500;
					color: #000;

					.highlight {
						color: #d52229;
					}
				}
			}
		}
	}
}





/*__________ History __________*/
.pc_table_box {
	overflow: auto;

	@at-root .pc_table {
		width: 100%;

		@at-root .pc_table_header {

			> th {
				padding: 20px 10px;
				font-weight: 500;
				color: #777;
			}
		}

		@at-root .pc_table_item {
			cursor: pointer;
			@extend %noUserSelect;
			font-size: 13px;
			font-weight: 500;
			@include transition();

			&:nth-of-type(2n) {
				background: #e5e5e5;
			}

			&:hover {
				box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
			}

			> td {
				padding: 10px;
			}

			@at-root .pc_history_date {
				color: #000;
			}

			@at-root .pc_history_price {
				color: #777;

				.highlight {
					color: #000;
				}
			}

			@at-root .pc_history_id {

				.frame {
					display: block;
					padding: 3px 5px;
					border: 1px solid #c0c0c0;
					line-height: 1;
					text-align: center;		
					font-size: 15px;
					color: #d52229;
				}
			}
		}
	}
}

.pc_history_mod {

	.modal-header {
		min-height: 45px;
	}
}






/*__________ Basket __________*/
.pc_basket_btn_box {
	padding: 10px;
	text-align: right;

	@at-root .pc_basket_btn {
		@extend %inlineBlock;
		@extend .news_read;

		@at-root .pc_basket_btn_del {
			border-color: $blockHoverColor !important;
			background: $blockHoverColor !important;
			color: inherit !important;

			&:hover {
				background: transparent !important;
			}
		}

		@at-root .pc_basket_btn_buy {
			margin-left: 10px;
		}
	}
}






/*__________ Settings __________*/
.pc_settings_btn {
	margin-bottom: 20px;
	text-align: right;

	@at-root .pc_settings_btn_edit {
		@extend %inlineBlock;
		padding: 0;
		border: 0;
		cursor: pointer;
		font-size: 12px;
		font-weight: 500;
		background-color: transparent;
		color: #777;

		> span {
			text-decoration: underline;
		}

		> i {
			margin-left: 10px;
		}

		&:hover {
			color: $textHoverColor;
		}
	}

	@at-root .pc_settings_btn_save {
		@extend .pc_settings_btn_edit;
	}
}

.pc_settings {
	@extend %floatContainer;
	margin-bottom: 20px;

	@at-root .pc_settings_img_box {
		width: 120px;
		float: left;
		margin-bottom: 20px;

		@at-root .pc_settings_img {
			@extend .comment_img;

			> img {

			}
		}
	}

	@at-root .pc_settings_info {
		width: calc(100% - 120px);
		float: left;

		@at-root .pc_settings_form {

			.control-label {
				text-align: left;
				font-weight: 500;
				color: #777;
			}

			.form-control {
				font-size: 17px;

				&.readonly {
					border-color: transparent;
					cursor: default;
					box-shadow: none;
					background-color: transparent;
				}
			}

			.pc_settings_hr {
				border-color: #e1e1e1;
			}

			@at-root .pc_settings_pass_btn {
				margin-bottom: 0;

				@at-root .pass_btn_change {
					padding: 0;
					border: 0;
					cursor: pointer;
					text-decoration: underline;
					font-size: 12px;
					font-weight: 500;
					background-color: transparent;
					color: #777;
				}

				@at-root .pass_btn_save {
					@extend .pass_btn_change;
				}
			}
		}
	}
}












/*__________ 404 Not Found __________*/
.not_found_article {
	padding: 100px 0;
	text-align: center;

	@at-root .not_found_h {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 100px;
		font-weight: bold;
		color: $textHoverColor;
	}

	@at-root .not_found_p {
		margin-bottom: 50px;
		font-size: 50px;
		font-weight: bold;
		color: $textHoverColor;
	}

	@at-root .not_found_btn {
		@extend .news_read;
		text-align: center;

		> a {

		}
	}
}



