

%floatContainer {

	&::before {
		content: '';
		display: table;
	}

	&::after {
		@extend %floatContainer::before;
		clear: both;
	}
}

%inlineBlock {
	display: inline-block;
	vertical-align: middle;
}

%flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

%removeListStyle {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

%noUserSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

%continuousText {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}



%basicButtonStyle {
	@include transition($time: 0.5s, $tFunc: cubic-bezier(0.75, 0, 0.25, 1));
	background-color: #eee;
	background-image: linear-gradient(#eee 50%, #ffac00 50%);
	-webkit-background-size: 100% 200%;
	background-size: 100% 200%;
	background-position: 0 0;
}
%basicButtonStyleHover {
	background-color: $blockHoverColor;
	background-position: 0 100%;
}



%backgroundFixed {
	@include absolute();
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}



/*__________ Hover Effects +++ __________*/
%bgChangeOnHover {
	background: $blockHoverColor;
}

%textChangeOnHover {
	color: $textHoverColor;
}
/*__________ Hover Effects --- __________*/




/*__________ Baner +++ __________*/
%owlButtons {
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
	overflow: hidden;
	text-align: center;
	font-size: 0;
	@include transition();
	background: #dbdde0;

	.baner:hover & {
		opacity: 1;
		@include translate(0, 0);
	}

	&::before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 13px;
		height: 13px;
		border: 3px solid #fff;
		border-right: 0;
		border-bottom: 0;
	}

	&:hover {
		background: $blockHoverColor;
	}
}
/*__________ Baner --- __________*/



/*__________ Product Small +++ __________*/
%smInfoBoxes {
	@extend %inlineBlock;
	width: 100%;
	padding: 0 10px;
	text-align: center;
}

%smInfoCenter {
	@extend %inlineBlock;
	width: 100%;
	max-width: 300px;
	text-align: left;
}

%smMoney {
	width: 50%;
	float: left;
	padding: 5px;

	> p {
		line-height: 30px;
		margin-bottom: 0;
		text-align: center;
		font-weight: bold;
		@extend %continuousText;
	}
}
/*__________ Product Small --- __________*/




/*__________ Footer Text +++ __________*/
%footerText {
	font-size: 12px;
	font-weight: 500;
	color: #000;
}
/*__________ Footer Text --- __________*/





/*__________ Partner +++ __________*/
%partner_title {
	margin-top: 0;
	margin-bottom: 50px;
	text-align: center;
	font-size: 35px;
	font-weight: 500;
	color: #555;

	.highlight {
		color: $textHoverColor;
	}
}

%partner_text {
	font-size: 16px;
	color: #555;

	.highlight {
		color: $textHoverColor;
	}
}

%partner_fixed_bg {
	padding: 40px 0;
	position: relative;

	&::before {
		content: '';
		display: block;
		@include absolute();
		background: rgba(85, 85, 85, 0.7);
		z-index: 1;
	}
}
/*__________ Partner --- __________*/





