

@mixin transition($property: all, $time: 0.3s, $tFunc: ease, $delay: 0s) {
	-webkit-transition: $property $time $tFunc $delay;
	-o-transition: $property $time $tFunc $delay;
	transition: $property $time $tFunc $delay;
}


@mixin translate($x, $y) {
	-webkit-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}


@mixin rotate($angle) {
	-webkit-transform: rotate($angle);
	-ms-transform: rotate($angle);
	-o-transform: rotate($angle);
	transform: rotate($angle);
}


@mixin rotate3DTranslate3D($rx, $ry, $rz, $rdeg, $tx, $ty, $tz) {
	-webkit-transform: rotate3d($rx, $ry, $rz, $rdeg) translate3d($tx, $ty, $tz);
	-ms-transform: rotate3d($rx, $ry, $rz, $rdeg) translate3d($tx, $ty, $tz);
	-o-transform: rotate3d($rx, $ry, $rz, $rdeg) translate3d($tx, $ty, $tz);
	transform: rotate3d($rx, $ry, $rz, $rdeg) translate3d($tx, $ty, $tz);
}


@mixin rotate3D($rx, $ry, $rz, $rdeg) {
	-webkit-transform: rotate3d($rx, $ry, $rz, $rdeg);
	-ms-transform: rotate3d($rx, $ry, $rz, $rdeg);
	-o-transform: rotate3d($rx, $ry, $rz, $rdeg);
	transform: rotate3d($rx, $ry, $rz, $rdeg);
}


@mixin scale($x, $y) {
	-webkit-transform: scale($x, $y);
	-ms-transform: scale($x, $y);
	-o-transform: scale($x, $y);
	transform: scale($x, $y);
}


@mixin absolute($top: 0, $bottom: 0, $left: 0, $right: 0) {
	position: absolute;
	top: $top;
	bottom: $bottom;
	left: $left;
	right: $right;
	margin: auto;
}


@mixin animation($name, $time: 0.3s, $tFunc: ease, $delay: 0s, $fillMode: none) {
	-webkit-animation: $name $time $tFunc $delay $fillMode;
	-o-animation: $name $time $tFunc $delay $fillMode;
	animation: $name $time $tFunc $delay $fillMode;
}
@mixin animationKeyFrames($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}



@mixin childLoopAnimation() {
	@for $i from 1 through 7 {
		&:nth-of-type(#{$i}) {
			@include animation($name: fromBottom, $delay: ((3 + $i) / 10) + s, $fillMode: backwards);
		}
	}
}



/*__________ Heritage +++ __________*/
@mixin inlineBlock($width: initial) {
	display: inline-block;
	vertical-align: middle;
	width: $width;
}

@mixin continuousText {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
/*__________ Heritage +++ __________*/



